/* podpiecie pod bg zdjecia */

body {
    background-image: url(../img/pexels-photo-2117937.jpeg);
    background-size: cover;

}


/* stylowanie header podpiecie zdjecia pod header */
header {
    display: flex;
    /* ustawienie na 70vh,  */
height: 70vh;   
/* podpinamy zdjęcie pod background header */
background-image: url(../img/pexels-photo-160107.jpeg);
/* zdjęcie cover- ma przykryc  */
background-size: cover;
/* ułożenie na środku zdjęcia */
background-position: center;
/* flexbox ułożenie na środku za pomocą flexbox */
justify-content: center;
align-items: center;
text-align: center;

}

header span, p{
    color: white;
}

/* stylowanie sekcji nawigacji menu, menu-icon home, about me, experiance, contact  */

#menu{
    color: white;
    font-weight: 700;
}


#home {
    color: white;
    font-weight: 700;
}


#about {
    color: white;
    font-weight: 700;
}

#experiance {
    color: white;
    font-weight: 700;
}

#contact {
    color: white;
    font-weight: 700;
}


/* stylowanie h1front oraz h2mateusz */

.h1front{
    color: white;
}


.h2mateusz{
    color: white;
}


/* stylowanie sekcji o mnie  */

.aboutme{
    text-align: center;
}

.circular {
    justify-content: left;
    height: 20em;
    width: 20em;
    border-radius: 50%;
    
    }

    .paragrafaboutme{
               font-size: 1.5em;
    }


    /* stylowanie sekcji experiance */

    .h2experiance{
        text-align: center;
    }


    #list1{
        width: 300px;
        background-color: inherit;
        color: white;
        font-size: 1.5em;
    }
    
    #list2{
        width: 300px;
        background-color: inherit;
        color: white;
        font-size: 1.5em;
    }

    #list3{
        width: 300px;
        background-color: inherit;
        color: white;
        font-size: 1.5em;
        border-color: none;
    }
